{
  "name": "${node_pkg}",
  "version": "${version}",
  "description": "Create-Next-Monorepo CLI Tool",
  "repository": {
    "type": "git",
    "url": "git+https://github.com/J-Liciaga/create-next-monorepo.git"
  },
  "keywords": [
    "git",
    "rust"
],
  "author": "Josiah Liciaga <josiah.liciagasilva@protonmail.com>",
  "license": "MIT",
  "bugs": {
    "url": "https://github.com/J-Liciaga/create-next-monorepo/issues"
  },
  "homepage": "https://github.com/J-Liciaga/create-next-monorepo#readme",
  "os": [
    "${node_os}"
  ],
  "cpu": [
    "${node_arch}"
  ]
}